.system--professional {
  --system-primary-color: var(--professional-primary-color);
  --system-primary-color-hover: var(--professional-primary-color-hover);
  --system-primary-color-active: var(--professional-primary-color-active);
}
