.system--student {
  --system-primary-color: var(--student-primary-color);
  --system-primary-color-hover: var(--student-primary-color-hover);
  --system-primary-color-active: var(--student-primary-color-active);
}
